@media screen and (max-width: 768px) {
    section.product .item__head_text{
        font-size: 14px;
    }
}
@media screen and (max-width: 500px) {

    section.about ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.container.serv{
        flex-direction: column;
        padding-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }


    div.container.temp{
        flex-direction: column;
    }

    section.template .item:nth-child(1){
        padding-left: 5%;
    }

    section.template .item:nth-child(2){
        padding-right: 5%;
    }

    section.support{
        padding-left: 5%;
        padding-right: 5%;
    }

    div.container.prod{
        flex-direction: column;
    }

    section.product .item:nth-child(1){
        padding-left: 5%;
        padding-right: 5%;
    }

    section.product .item:nth-child(2){
        padding-left: 5%;
        padding-right: 5%;
    }

    section.product .item:nth-child(3){
        padding-left: 5%;
        padding-right: 5%;
    }

    

    section.more .mor{
        flex-direction: column;
    }

    section.more .item:nth-child(1){
        padding-left: 5%;
        padding-right: 5%;
    }

    section.more .item:nth-child(2){
        padding-left: 5%;
        padding-right: 5%;
    }

    section.just .jus{
        flex-direction: column;
    }

    section.just .item:nth-child(1){
        padding-left: 5%;
        padding-right: 5%;
    }

    section.just .item__head{
        margin-top: 25px;
    }

    section.features .head__text{
        font-size: 14px;
    }
    section.features .fea{
        flex-direction: column;
        align-items: center;
    }

    footer.bottom .copy{
        flex-direction: column;
    }
  }